CONFIG_ARCH="sim"
CONFIG_ARCH_BOARD_CUSTOM=y
CONFIG_ARCH_BOARD_CUSTOM_DIR="../../boards/sim/sim/sim/"
CONFIG_ARCH_BOARD_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="sim"
CONFIG_ARCH_CHIP="sim"
CONFIG_ARCH_SIM=y
CONFIG_BOARDCTL_RESET=y
CONFIG_BOARDCTL_RESET_CAUSE=y
CONFIG_BOARDCTL_UNIQUEID=y
CONFIG_BOARD_LOOPSPERMSEC=0
CONFIG_BUILTIN=y
CONFIG_CXX_LOCALIZATION=y
CONFIG_DEBUG_ASSERTIONS=y
CONFIG_DEBUG_ASSERTIONS_EXPRESSION=y
CONFIG_DEBUG_FEATURES=y
CONFIG_DEBUG_SYMBOLS=y
CONFIG_DEFAULT_TASK_STACKSIZE=8192
CONFIG_EVENT_FD=y
CONFIG_FRAME_POINTER=y
CONFIG_FS_PROCFS=y
CONFIG_GPIO_LOWER_HALF=y
CONFIG_HAVE_CXX=y
CONFIG_IDLETHREAD_STACKSIZE=8192
CONFIG_INIT_ENTRYNAME="nsh_main"
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_INIT_STACKSIZE=10240
CONFIG_INPUT=y
CONFIG_INPUT_BUTTONS=y
CONFIG_LIBCXX=y
CONFIG_LIBCXXABI=y
CONFIG_LIBC_FLOATINGPOINT=y
CONFIG_LIBC_HOSTNAME="${PROJECT_NAME}"
CONFIG_LIBC_LOCALE=y
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_READLINE=y
CONFIG_PSEUDOTERM=y
CONFIG_SCHED_BACKTRACE=y
CONFIG_SCHED_HAVE_PARENT=y
CONFIG_SCHED_WAITPID=y
CONFIG_STACK_CANARIES=y
CONFIG_STACK_USAGE=y
CONFIG_START_MONTH=6
CONFIG_START_YEAR=2008
CONFIG_STDIO_BUFFER_SIZE=1024
CONFIG_STREAM_OUT_BUFFER_SIZE=1024
CONFIG_SYSTEM_NSH=y
CONFIG_TLS_NELEM=4
CONFIG_USERLED=y
CONFIG_USERLED_LOWER=y
#include "defconfig.dawn"
